nav {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
}

a {
    text-decoration: none;
    color: darkslateblue;
}

.container {
    max-width: 1000px;
    margin: auto;
    margin-top: 100px;
    padding-bottom: 30px;
}

.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: darkslateblue;
    font-size: 30px;
}

.choice-container:hover {
    cursor: pointer;
    background-color: #918ab9;
}

.choice-prefix {
    padding: 5px 30px;
    color: white;
}

.choice-text {
    padding: 5px;
    width: 100%;
}

.correct {
    background: linear-gradient(32deg, rgba(11, 223, 36) 0%, rgb(41, 232, 111) 100%);
}

.incorrect {
    background: linear-gradient(32deg, rgba(230, 29, 29, 1) 0%, rgb(224, 11, 11, 1) 100%);
}


#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 50px;
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid rgb(11,223,36);
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: rgb(11,223,36);
    width: 0%;
}

@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 40rem;
    }
}